body
{
	margin: 0;
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1.logo
{
	font-size: 46px;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	padding: 15px;
	color: white;
}



#Topmenu
{
	background-color: #1c74b2; 
	text-align: center;
	margin-bottom:40px;
}

.menu
{
	list-style-type: none;
	padding:10px;
	margin:0;
	min-height:40px;
	line-height: 200%;
	display: block;
	
}